.product-data {
  .field__label,
  .title {
    font-size: $big;
    color: $black;
    font-weight: 700;
    margin-bottom: 20px;
  }
  img {
    height: auto;
  }
  .data-container {
    flex-direction: column;
    @media only screen and (min-width: $mobile-md) {
      flex-direction: row;
    }
  }
}
